{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand navbar-light bg-light">
        <ul class="nav navbar-nav mx-auto ">
                <li class="nav-item dates"><input id="start-date" type="date"></li>
                <li class="nav-item dates"><label for="end-date"> to </label></li>
                <li class="nav-item dates"><input id="end-date" type="date"></li>
                <li class="nav-item dates"><button id="submit-dates-button">OK</button></li>
        </ul>

</nav>

<div class="container">
        <div id="days-container">

        </div>
        
</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'calendar.js') }}"></script>
<style>

.day-div{
        margin: 5px;
}
.day-title-div{
        border-bottom: 1px solid blue;
}
.day-recipes-div{
        min-height: 20px;
}
.dropdown-span{
        display: inline;
        float: right;
}
.select-recipes{
        width:50px;
        border: None;
        background-color: white;

}
.btn{
        font-size: 0.8em;
}
.btn-outline-secondary{
        background-color: white;
}

#start-date, #end-date{
        width: 120px;
}

.dates:not(:first-child){
        justify-content: space-around;
        padding-left: 10px;
}

.remove-button-span{
        display: inline;
        float: right;
}
ul {
        list-style-type: none;
        padding: 0;

}
ul li.recipe-li {
        padding: 6px 12px;
        margin: 5px;
        justify-content: space-between;
        border: 1px solid rgb(179, 179, 179);
        border-radius: 4px;
        font-size: 1em;
        background-color: white;
}
div .input-group{
        padding: 5px;
        border-radius: 8px;
}

</style>

{% endblock %}