{% extends "base.html" %}

{% block content %}

<div>
        <div>
                <label for="start-date">Start Date:</label>
                <input id="start-date" type="date">
                <label for="end-date">End Date:</label>
                <input id="end-date" type="date">
        </div>
        <button id="submit-dates-button">Submit</button>


        <div id="calendar-view-div">
                <table class="table table-bordered ">
                        <tbody id="calendar-table-body">
                                <tr>
                                        <th></th>
                                        <td></td>
                                </tr>
                        </tbody>
                </table>
        </div>
        
</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'calendar.js') }}"></script>
<style>
.btn{
        font-size: 0.8em;
}
div .recipe-div {
        height: 40px;
        background-color: grey;
}
table .w-20 { 
        width:20%; 
}
table .w-80 { 
        width:80%; 
        }
</style>

{% endblock %}