{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-expand navbar-light">
        <ul class="nav navbar-nav mx-auto dates-nav">
                <li class="nav-item dates"><input id="start-date" type="date"></li>
                <li class="nav-item dates"><label for="end-date" class="to-label"> to </label></li>
                <li class="nav-item dates"><input id="end-date" type="date"></li>
                <li class="nav-item dates"><button class="btn btn-dark btn-sm" id="submit-dates-button">OK</button></li>
        </ul>

</nav>
<div class="container">
        <div id="days-container">

        </div>
        
</div>

<script type="text/javascript" src="{{ url_for('static', filename = 'calendar.js') }}"></script>
<style>


.day-div{
        margin: 5px;
        background-color: white;
        padding: 8px;
        border-radius: 5px;
}
.dropdown-span{
        display: inline;
        float: right;
}
.select-recipes{
        width:50px;
        border: None;
        background-color: white;
}

.remove-button-span{
        display: inline;
        float: right;
        padding-right: 10px;
}
img .remove-icon{
        display: inline-block;
        height:24px;
        width:24px;
}
ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 10px;

}
ul li.recipe-li {
        padding: 2px 16px;
        margin: 5px;
        justify-content: space-between;
        border-bottom: 1px solid rgb(179, 179, 179);
        border-radius: 0px;
        font-size: 1.2em;
        background-color: white;
}

</style>

{% endblock %}