{% extends "base.html" %}

{% block content %}
<div class="container" >
        <div>
                <h3> start date {{dates.start_date}}</h3>
                <h3> end date {{dates.end_date}}</h3>
        </div>
        <ul class="list-group">
        {% for item in items %}
        <li class="list-group-item">{{item.name}}
                {% if item.quantity > 1 %}
                <span class="badge badge-light">{{item.quantity}}</span>
                {% endif %}
        </li>
        {% endfor %}
        </ul>
</div>
        <script type="text/javascript" src="{{ url_for('static', filename = 'list.js') }}"></script>

<style>
.badge-light{
        font-size: 14px;
        padding: 4px
}
.selected-li-element{
        background-color: lightblue;
}
</style>

{% endblock %}