{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand navbar-light">
        <ul class="nav navbar-nav mx-auto dates-nav">
                <li class="nav-item dates"><input id="start-date" type="date"></li>
                <li class="nav-item dates"><label for="end-date" class="to-label"> to </label></li>
                <li class="nav-item dates"><input id="end-date" type="date"></li>
                <li class="nav-item dates"><button class="btn btn-dark btn-sm" id="submit-dates-button">OK</button></li>
        </ul>

</nav>
<div class="container" >
        <ul class="list-group">
        {% for item in items %}
        <li class="list-group-item">{{item.name}}
                {% if item.quantity > 1 %}
                <span class="badge badge-light">{{item.quantity}}</span>
                {% endif %}
        </li>
        {% endfor %}
        </ul>
</div>
        <script type="text/javascript" src="{{ url_for('static', filename = 'list.js') }}"></script>

<style>
.badge-light{
        font-size: 14px;
        padding: 4px
}
.selected-li-element{
        background-color: lightblue;
}
.list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}
</style>

{% endblock %}