{% extends "base.html" %}

{% block content %}

<!-- List group -->
<div class="list-group" >
    {% for recipe in recipes %}
        <a class="list-group-item list-group-item-action" id={{'recipe-' ~ recipe['id']}}>{{recipe['name']}}</a>
        <div id={{'recipe-' ~ recipe['id'] ~ '-items'}} class="list-group" style="display:none">

        </div>
    {% endfor %}
        <li class="list-group-item list-group-item-action" id="add-recipe-li-element">
            <input placeholder="new recipe" id="add-recipe-input">
        </li>


    </div>
  </div>
  
  <!-- Tab panes -->


<script type="text/javascript" src="{{ url_for('static', filename = 'recipes.js') }}"></script>
<style>
.list-group-item-action{
    font-size: 18px
}
.list-group-item-light{
    text-indent:20px;
    font-size: 16px
}

</style>
{% endblock %}